.infobox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  border: 1px solid orange;
  gap: 3em;
}

.namebox {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 3.5em;
  flex-direction: row;
  border: 2px solid yellow;
  width: 100%;
}
.photobox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoinfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: c;
  border: 1px solid red;
  color: white;
}
.socialbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5em;
  width: 100%;
  border: 1px solid green;
  height: fit-content;
}

.socialanchor {
  text-decoration: none;
}

.social {
  padding: 1.5em 2.5em;
  gap: 7px;
  justify-content: space-around;

  width: 269px;
  height: 262px;

  background: #201f20;
  border-radius: 35.8537px;
}

.socialicon {
  padding-bottom: 1.5em;
  width: 90%;
}

.socialinfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.socialinfo h1 {
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  color: #ffffff;
}

.socialinfo h2 {
  display: flex;
  flex-direction: column;
  padding-left: 0.2em;
  font-family: var(--font-poppins);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #595759;
}
